"name": "Do",
"scopeName": "source.do",
"fileTypes": ["do"],
"patterns": [
	{
		"match": "\\b(and|break|continue|do|else|end|function|if|include|let|new|not|or|return|structure|then|while)\\b",
		"name": "keyword.control.statement.do",
		"comment": "Keywords."
	},
	{
		"match": "\\=|<|<\\=|>|>\\=|\\=\\=|\\/\\=|\\+|\\-|\\*|/|%",
		"name": "keyword.operator.do",
		"comment": "Operators."
	},
	{
		"match": "\\b(ToString|GetLength|GetType|GetTime|Exit|Read|Write|Open|Close|Sin|Cos|Tg|Arcsin|Arccos|Arctg|SquareRoot|Power|Exp|Ln|Integral|GetRandom)\\b",
		"name": "entity.name.function.do",
		"comment": "Built-in functions."
	},
	{
		"match": "\\bNULL\\b",
		"name": "constant.language.do",
		"comment": "Constants."
	},
	{
		"match": "\\b\\d+(\\.\\d+)?\\b",
		"name": "constant.numeric.do",
		"comment": "Numbers."
	},
	{
		"begin": "\"",
		"end": "(?<!\\\\)\"",
		"name": "string.quoted.double.do",
		"comment": "Strings."
	},
	{
		"begin": "\'",
		"end": "(?<!\\\\)\'",
		"name": "string.quoted.single.do",
		"comment": "Symbols."
	},
	{
		"match": "^\\s*note\\b.*$",
		"name": "comment.line.wizard-basic",
		"comment": "Singleline comments."
	},
	{
		"begin": "^\\s*long\\s+note\\b",
		"end": "\\.\\.\\.\\s*$",
		"name": "comment.line.wizard-basic",
		"comment": "Multiline comments."
	}
]
